<div class="footer">
	<div class="w">
		<div class="links">
			<a class="link" href="https://www.taobao.com/" target="_blank">淘宝网</a> |
			<a class="link" href="https://www.jd.com/" target="_blank">京东网</a> |
			<a class="link" href="https://www.amazon.com/" target="_blank">亚马逊网</a> |
			<a class="link" href="http://www.dangdang.com/" target="_blank">当当网</a>
		</div>
		<p class="copyright">
			Copyright© 2019 b2cmall by Eis-zhang All Right Reserverd
		</p>
	</div>
</div>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js">
</script>