<div class="navi">
	<div class="w">
		<div class="user-info">
			<span class="user not-login">
				<span class="link js-login">登录</span>
				<span class="link js-register">注册</span>
			</span>
			<span class="user login">
				<span class="link-text">
					Welcome！
					<span class="username"></span>
				</span>
				<span class="link js-logout">退出</span>
			</span>
		</div>
		<ul class="navi-list">
			<li class="navi-item">
				<a class="link" href="./shoppingcar.html">
				<i class="fa fa-shopping-cart"></i>
				购物车(<span class="shoppingcar-count">0</span>)
				</a>
			</li>
			<li class="navi-item">
				<a class="link" href="./order-list.html">我的订单</a>
			</li>
			<li class="navi-item">
				<a class="link" href="./user-center.html">我的信息</a>
			</li>
			<li class="navi-item">
				<a class="link" href="./about.html">关于此商城</a>
			</li>
		</ul>
	</div>
</div>